/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

table, th, td {
  border: 1px solid;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url("Photo15171.jpg"); 
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}

}
