/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url("Photo15171.jpg"); 
  background-position: center;
  background-size: cover;
  row-gap: 4rem;

  text-align: center;
}

h1 {
  font-size: 2rem;
}



}
